.rtz-footer{
    background: #DD153C;
    min-height: 404px;
    padding: 1rem;
    color: white;

    .footer-logo{
        img{
            width: 241px;
        }
    }

    .footer-cta-btn {
        letter-spacing: 7px;
        font-size: 10px;

        &:hover {
            opacity: .7;
        } 
        .cta-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(10%, 100%);
            width: 218px;
        }
    }
    .title{
        letter-spacing: 7px; 
        font-size: 12px;
        font-weight: 600;
    }
    .subtitles{
        font-size: 14px;
        font-weight: 400;
    }
    .privacy-terms{
        font-size: 12px;
    }
}