@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    src: url(../fonts/Montserrat-Regular.eot);
    src: url(../fonts/Montserrat-Regular.woff) format("woff"),
    url(../fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
    src: url(../fonts/Montserrat-Bold.eot);
    src: url(../fonts/Montserrat-Bold.woff) format("woff"),
    url(../fonts/Montserrat-Bold.woff2) format("woff2");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
    src: url(../fonts/Montserrat-Medium.eot);
    src: url(../fonts/Montserrat-Medium.woff) format("woff"),
    url(../fonts/Montserrat-Medium.woff2) format("woff2");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.ttf) format("truetype");
    src: url(../fonts/Montserrat-Light.eot);
    src: url(../fonts/Montserrat-Light.woff) format("woff"),
    url(../fonts/Montserrat-Light.woff2) format("woff2");
    font-weight: 300;
  }

  @font-face {
    font-family: "Clesmont";
    src: url(../fonts/Clesmont-Regular.ttf) format("truetype");
    src: url(../fonts/Clesmont-Regular.eot);
    src: url(../fonts/Clesmont-Regular.woff) format("woff"),
    url(../fonts/Clesmont-Regular.woff2) format("woff2");
    font-weight: 300;
  }

body{
    font-family: "Montserrat";
    background: black;
}

.navclass{
   
}