.navbar {
  height: 120px;
  padding: 1rem;
    .navbar-links {
        letter-spacing: 7px;
        font-size: 10px;
        margin-left: 2rem;
        margin-right: 2rem;
        position: relative;
        padding-bottom: .35rem;
        font-weight: 600;
        &:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 0%;
            left: 0;
            bottom: 6px;
            background: #DD153C;
            transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
            
          }
    
          &:hover,
          &.active,
          &:focus {
            &:after {
              width: 100%;
            }
    
          }
    }

    .navbar-cta-btn {
        color: white;
        border-radius: 40px;
        padding: 10px;
        letter-spacing: 7px;
        font-size: 10px;

        &:hover {
            opacity: .7;
        }
    }
    .cta-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 176px;
    }
}